---
layout: home
---

<section id="about">
	<div class="container">
		<div class="avatar">
			<img class="img-circle" src="{{ site.avatar }}" alt="Responsive image" style="width:50%;height:50%">
		</div>
		<br>
		<!-- <h3>I'm <a href="{{ site.url }}">Joseph Godwin Kimani</a></h3> -->
		<h3>Hi there!</h3>
		<h3>With a fascination for computer vision in game development, I am a mission-driven full stack developer with
			a passion for artificial intelligence, machine learning, computer vision and natural language processing.
		</h3>
		<h3>I have been focusing on building, managing, and deploying secure image and video processing AI solutions
			from REST-based APIs, software development kits (SDKs) to user-friendly mobile-first solutions.</h3>
		<br>

		{% include social.html %}

		{% include ad.html %}

	</div>
</section>