---
layout: home
---

<section id="about">
	<div class="container">
		<div class="avatar">
			<img class="img-circle" src="{{ site.avatar }}" alt="Responsive image" style="width:50%;height:50%">
		</div>
		<br>
		<!-- <h3>I'm <a href="{{ site.url }}">Joseph Godwin Kimani</a></h3> -->
		<h3>Hi there!</h3>
		<h3>Driven by a strong interest in computer vision for game development, I am a mission-oriented full stack developer passionate about artificial intelligence, machine learning, computer vision, and natural language processing.</h3>
		<h3>My work focuses on designing, managing, and deploying secure AI-powered image and video processing solutions—ranging from RESTful APIs and SDKs to intuitive, mobile-first applications.</h3>
		<br>

		{% include social.html %}

		{% include ad.html %}

	</div>
</section>
