<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" title="Home" href="{{ site.url }}"><i class="fa fa-laptop"></i>&#09;Joseph Godwin
        Kimani</a>

    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a title="Projects" href="{{ site.baseurl }}projects.html"><i class="fa fa-cogs" aria-hidden="true"></i>
            PROJECTS</a></li>
        <!--<li><a title="Game Mods" href="{{ site.baseurl }}mods.html"><i class="fa fa-gamepad" aria-hidden="true"></i>
 MODS</a></li>
	<li><a title="My Services" href="{{ site.baseurl }}services.html"><i class="fa fa-wrench" aria-hidden="true"></i>
 SERVICES</a></li> 
	<li><a title="Hosting" href="{{ site.hosturl }}" target="_blank"><i class="fa fa-server" aria-hidden="true"></i>
 HOSTING</a></li> -->

      </ul>
    </div>
  </div>
</nav>