<section id="mods">
   <div class="container">
      <h3>Game Mods for FS15/ETS2/AC</h3><!-- Overall title -->
      <div class="panel panel-default">
         <div class="panel-body">
            <div class="row">
               <div class="col">
                  <div class="thumbnail">
                     <iframe width="600" height="315" src="https://www.youtube.com/embed/0K2YA4w8-oU?rel=0" frameborder="0" allowfullscreen></iframe>
                     <div class="caption">
                        <h3>Kenworth T660 JK Edition</h3>
                        <p>Kenworth T660 JK Edition mod with realistic performance engines, and transmissions for heavy duty purposes; revised 8x4 chassis for long haul purposes. </p>
                        <p><a target="_blank" href="http://j.gs/8TIx" class="btn btn-primary" role="button">Download</a> 
                           <span class="label label-primary">ETS2</span>
                           <span class="label label-info">v1.25.x</span>
                           <span class="label label-warning">Blender</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <div class="thumbnail">
                     <iframe width="600" height="315" src="https://www.youtube.com/embed/I1FBI4-fvVY?rel=0" frameborder="0" allowfullscreen></iframe>
                     <div class="caption">
                        <h3>Godwin Corsa Theme for v0.1</h3>
                        <p>Godwin Corsa Theme v0.1 is a UI Layout for Assetto Corsa all versions after v1.14, Features:</p>
                        <li>New Icons for Menu and In-game Menu</li>
                        <li>Modified UI for Time Attack and Drift Sessions</li>
                        <li>GBrowser module for Mod Downloads (redirects to default browser though)</li>
                        <li>Real Driver names for AI (BlancPain GT Series entry drivers for 2017)</li>
                        <li>Compatible with <a target="_blank" href="http://www.radiators-champ.com/RSRLiveTiming/">RSR Live Timing</a></li>
                        <li>Comes in two formats - Full and Lite Version</li>
                        </br>
                        <p><a target="_blank" href="http://www.mediafire.com/file/67aus4auu0l1c6a/Full__V1.14_Godwin_Corsa_July_2017.7z" class="btn btn-primary" role="button">Full</a> <a target="_blank" href="http://www.mediafire.com/file/8sg33zd49by7f74/Lite__V1.14_Godwin_Corsa_July_2017.7z" class="btn btn-warning" role="button">Lite</a> 
                           <span class="label label-primary">Assetto Corsa</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <div class="thumbnail">
                     <iframe width="600" height="315" src="https://www.youtube.com/embed/4MJ3vLW-NCo?rel=0" frameborder="0" allowfullscreen></iframe>
                     <div class="caption">
                        <h3>Kenworth W900 Powerpack</h3>
                        <p>Features:</p>
                        <li>2000 litre 6x4 chassis</li>
                        <li>Realistic Caterpillar C15 800hp (657kw)</li>
                        <li>Realistic Kenworth T909 Cummins 800hp (657kw)</li>
                        <li>Realistic Ultrashift PLUS MX18A with retarder (18 gears)</li>
                        <li>Realistic SIGNATURE SCR engine based on T909 2016</li>
                        </br>
                        <p><a target="_blank" href="https://ets2.lt/en/kenworth-power-pack/" class="btn btn-primary" role="button">Download</a>  
                           <span class="label label-primary">ETS2</span>
                           <span class="label label-info">v1.25.x</span> 
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <div class="thumbnail">
                     <iframe width="600" height="315" src="https://www.youtube.com/embed/taATij4Gxy0?rel=0" frameborder="0" allowfullscreen></iframe>
                     <div class="caption">
                        <h3>Sassy Girl Skin for DAF XF 105 modified by 50keda v3.7</h3>
                        <p>Skin for DAF XF 105 modified v3.7 by 50keda</p>
                        <p><a href="https://github.com/50k-Customs/DAF-XF" class="btn btn-primary" role="button">Truck</a> <a href="http://adf.ly/1gnsfy" class="btn btn-warning" role="button">Skin</a>  
                           <span class="label label-primary">ETS2</span>
                           <span class="label label-info">v1.25.x</span> 
                     </div>
                  </div>
               </div>
            </div>
            <!-- Load Facebook SDK for JavaScript -->
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
               var js, fjs = d.getElementsByTagName(s)[0];
               if (d.getElementById(id)) return;
               js = d.createElement(s); js.id = id;
               js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
               fjs.parentNode.insertBefore(js, fjs);
               }(document, 'script', 'facebook-jssdk'));
            </script>
            <!-- Your embedded video player code -->
            <div class="fb-video" data-href="https://www.facebook.com/LOGM15/videos/140449779773638/" data-width="600" data-show-text="false">
               <div class="fb-xfbml-parse-ignore">
                  <blockquote cite="https://www.facebook.com/LOGM15/videos/140449779773638/">
                     <a href="https://www.facebook.com/LOGM15/videos/140449779773638/">LOGM Forestry Pack v1.0</a>
                  </blockquote>
               </div>
            </div>
            <div class="caption">
               <h3>LOGM Forestry Pack v1.0 by Joseph GodwinKE</h3>
               <p>Latest mods and FDR Mod edits for Logging. We do not have permission to post these mods on any mod sites or forums for all FDR mods in the pack as for Manac Log trailer is our property entirely right down to the model.</p>
               <p><a target="_blank" href="https://www.mediafire.com/folder/9j47t899qonyj/Logging_Multiplayer_Server_Pack" class="btn btn-primary" role="button">Download</a> <a target="_blank" href="https://www.facebook.com/LOGM15/" class="btn btn-warning" role="button">Page</a>  
                  <span class="label label-primary">Farming Simulator 15</span>
                  <span class="label label-info">GIANTS Games Editor</span> 
                  <span class="label label-warning">Blender</span>
            </div>
            <br/>
            <div class="row">
               <div class="col">
                  <div class="thumbnail">
                     <br/>
                     <iframe width="600" height="315" src="https://www.youtube.com/embed/dY4AFawCD2E?rel=0" frameborder="0" allowfullscreen></iframe>
                     <div class="caption">
                        <h3>Scania V8 Topline 8x4 Heavy Duty Mod Pack</h3>
                        <p>Features:</p>
                        <li>Modified 8x4 Chassis with 2400 litre tank and two liftable axles</li>
                        <li>Powerful V8 engines with 850hp & 730hp with more torque</li>
                        <li>Maxxed Interior and Exterior sounds for 8x4 cabin</li>
                        <li>Unlocked to zero(0) all accessories, cabins, interiors</li>
                        <li>Eaton Fuller Heavy Duty transmission with 23 gears ( 2 crawlers)</li>
                        </br>
                        <p><a target="_blank" href="http://vializer.com/14962857/scania-heavy-duty-mod-pack" class="btn btn-primary" role="button">Download</a> <a target="_blank" href="https://youtu.be/2LwXnlQ4hWY" class="btn btn-warning" role="button">Latest Update</a>  
                           <span class="label label-primary">ETS2</span>
                           <span class="label label-info">v1.28.x</span> 
                     </div>
                  </div>
               </div>
            </div>
               <div class="row">
               <div class="col">
                  <div class="thumbnail">
                     <br/>
                  <iframe width="600" height="315" src="https://www.youtube.com/embed/DRkUlzjb1G8?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>                     <div class="caption">
                        <h3>JK CUSTOMS</h3>
                        <p>Tuning parts for DAF.XF 105</p>
                        <p>Features:</p>
                        <li>Stallion Roofgrill</li>
                        <li>Stallion Bottomgrill</li>
                        <li>Stallion Frontgrill</li>
                        <li>Tamara Skin (based off CSGO Pinups sticker: Tamara)</li>
                        </br>
                        <p><a target="_blank" href="http://steamcommunity.com/sharedfiles/filedetails/?id=1278766529" class="btn btn-primary" role="button">Download</a>   
                           <span class="label label-primary">ETS2</span>
                           <span class="label label-info">v1.28.x - v1.30.x</span> 
                           <span class="label label-warning">Blender</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <div class="thumbnail">
                     <iframe width="600" height="315" src="https://www.youtube.com/embed/XFzW8Pz0JGM" frameborder="0" allowfullscreen></iframe>
                     <div class="caption">
                        <h3>Subscribe For more Game Mods</h3>
                        <p>Watch me play, create and build mods for popular simulator games on PC. </p>
                        <p><a target="_blank" href="https://www.youtube.com/channel/UCU-QyAt590oVY2OszTYbz4w" class="btn btn-danger" role="button">YouTube</a> 
                           <a target="_blank" href="https://steamcommunity.com/id/josephgodwinke/myworkshopfiles/" class="btn btn-primary" role="button">Steam Workshop</a> 
                          
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<script type="text/javascript" src="//uprimp.com/bnr.php?section=General&pub=279745&format=728x90&ga=g"></script>
<noscript><a href="https://yllix.com/publishers/279745" target="_blank"><img src="//ylx-aff.advertica-cdn.com/pub/728x90.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" alt="ylliX - Online Advertising Network" /></a></noscript>
<script type="text/javascript" src="//goraps.com/pup.php?section=General&pt=2&pub=279745&ga=g"></script>
