<section id="projects">
   <div class="container">
      <h3>My Projects</h3>
      <div class="panel panel-default">
            <div class="row">
               <div class="col">
                  <div class="thumbnail">
                     <img src="https://raw.githubusercontent.com/josephgodwinkimani/josephgodwinkimani.github.io/master/assets/images/project25.png"  height="600px" width="600px" alt="...">
                     <img src="https://raw.githubusercontent.com/josephgodwinkimani/josephgodwinkimani.github.io/master/assets/images/project25_1.png"  height="600px" width="600px" alt="...">
                     <div class="caption">
                        <h3>3Es Experience</h3>
                        <p>3Es Experience Organization aims to improve the livelihoods of communities, empower students, and promote environmental conservation in parts of Kenya. They were looking for a website that featured social media feeds of recent events and causes among other features.  </p>
                        <p><a target="_blank" href="https://3esexperience.org/" class="btn btn-primary" role="button">View Website</a> 
                           <span class="label label-primary">WordPress</span>
                           <span class="label label-default">M-PESA API</span>
                           <span class="label label-success">Logo & Branding</span>
                           <span class="label label-info">Adobe Photoshop</span>
                           <span class="label label-warning">Adobe Illustrator</span>
                        </p>
                     </div>
                  </div>
               </div>
         </div>
         <div class="panel-body">
            <div class="row">
               <div class="col">
                  <div class="thumbnail">
                     <img src="https://raw.githubusercontent.com/josephgodwinkimani/josephgodwinkimani.github.io/master/assets/images/project1.png"  height="600px" width="600px" alt="...">
                     <div class="caption">
                        <h3>GHA Technologies</h3>
                        <p>GHA Technologies was looking for a website that would compliment and highlight their software development projects and other service offerings. It featured a blog which I updated regularly.  </p>
                        <p><a href="http://ghatechnologies.co.ke" class="btn btn-primary" role="button">View Website</a> 
                           <span class="label label-warning">OctoberCMS</span>
                           <span class="label label-success">Blog Management</span>
                           <span class="label label-info">Social Media Marketing & Management</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <div class="thumbnail">
                     <img src="https://raw.githubusercontent.com/josephgodwinkimani/josephgodwinkimani.github.io/master/assets/images/project2.png"  height="600px" width="600px" alt="..."><br>
                     <img src="https://raw.githubusercontent.com/josephgodwinkimani/josephgodwinkimani.github.io/master/assets/images/project19.png"  height="600px" width="600px" alt="...">
                     <div class="caption">
                        <h3>Green Experience</h3>
                        <p>Green Experience is a leading service provider of Waste Management. They were looking for a simple and stunning website easy for prospective clients to contact them directly for a quote. We continue to work together to keep the website current. </p>
                        <p><a target="_blank" href="http://greenexperience.co.ke" class="btn btn-primary" role="button">View Website</a> 
                           <span class="label label-success">Logo & Branding</span>
                           <span class="label label-primary">WordPress</span>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <div class="thumbnail">
                     <img src="https://raw.githubusercontent.com/josephgodwinkimani/josephgodwinkimani.github.io/master/assets/images/project3.png"  height="600px" width="600px" alt="...">
                     <div class="caption">
                        <h3>Divine Assinter</h3>
                        <p>Divine Assinter is an International Supplier and Distributor. They were looking for an easy-to-navigate multi-lingual and multi-currency e-commerce website that showcased their exclusive merchandise. We continue to work together to keep the website current. </p>
                        <p><a target="_blank" href="http://divineassinter.com" class="btn btn-primary" role="button">View Website</a> 
                           <span class="label label-success">Logo & Branding</span>
                           <span class="label label-info">Social Media Marketing & Management</span>
                           <span class="label label-warning">CodeIgniter</span>
                           <span class="label label-primary">Wordpress</span>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <div class="thumbnail">
                     <img src="https://raw.githubusercontent.com/josephgodwinkimani/josephgodwinkimani.github.io/master/assets/images/project4.png"  height="600px" width="600px" alt="..."><br>
                     <img src="https://raw.githubusercontent.com/josephgodwinkimani/josephgodwinkimani.github.io/master/assets/images/project21.png"  height="600px" width="600px" alt="..."><br>
                     <img src="https://raw.githubusercontent.com/josephgodwinkimani/josephgodwinkimani.github.io/master/assets/images/project22.png"  height="600px" width="600px" alt="..."><br>
                     <img src="https://raw.githubusercontent.com/josephgodwinkimani/josephgodwinkimani.github.io/master/assets/images/project23.png"  height="600px" width="600px" alt="...">
                     <div class="caption">
                        <h3>Divine Health Wealth</h3>
                        <p>Divine Health Wealth is an International Distributor of Health and Fitness Products, affiliated with Forever Living. We worked together to create a stunning multi-currency e-commerce website that would grab the attention of prospects and feature detailed information on advantages of their health products. We continue to work together to keep the website current. </p>
                        <p><a target="_blank" href="http://divinehealthwealth.org" class="btn btn-primary" role="button">View Website</a> 
                           <span class="label label-primary">WordPress</span>
                           <span class="label label-danger">Laravel</span>
                           <span class="label label-success">Logo & Branding</span>
                           <span class="label label-info">Social Media Marketing & Management</span>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <div class="thumbnail">
                     <img src="https://raw.githubusercontent.com/josephgodwinkimani/josephgodwinkimani.github.io/master/assets/images/project8.png"  height="600px" width="600px" alt="...">
                     <div class="caption">
                        <h3>Kerandi Manduku & Co. Advocates</h3>
                        <p>Kerandi Manduku & Co. Advocates is a dynamic law firm established and licensed to practice law in East Africa region. Their website was created purposely to create an outreach website with content linked to pratice areas, showcase their legal publications, team building events. One of the most interesting features of this website is C2B service payment status check with a secure admin panel and automated email notification system. We continue to work together to keep the website current. </p>
                        <p><a target="_blank" href="http://virtuallawkenya.co.ke" class="btn btn-primary" role="button">View Website</a> 
                           <span class="label label-primary">WordPress</span>
                           <span class="label label-default">M-PESA API</span>
                           <span class="label label-success">Logo & Branding</span>
                           <span class="label label-info">Social Media Marketing & Management</span>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <div class="thumbnail">
                     <img src="https://raw.githubusercontent.com/josephgodwinkimani/josephgodwinkimani.github.io/master/assets/images/project16.png"  height="600px" width="600px" alt="...">
                     <div class="caption">
                        <h3>Kleansley Hygiene Plus</h3>
                        <p>Kleansley Hygiene Plus Ltd is an emerging leader in the world of cleaning and integrated hygiene solutions. The company provides creative and practical solutions in Environmental Maintenance and Management. This website features a CMS for blog management and updates. We continue to work together to keep the website current.</p>
                        <p><a target="_blank" href="http://kleansley.co.ke" class="btn btn-primary" role="button">View Website</a> 
                           <span class="label label-danger">Laravel</span>
                           <span class="label label-info">Social Media Marketing & Management</span>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <div class="thumbnail">
                     <img src="https://raw.githubusercontent.com/josephgodwinkimani/josephgodwinkimani.github.io/master/assets/images/project5.png"  height="600px" width="600px" alt="...">
                     <div class="caption">
                        <h3>Maina Njuguna & Advocates</h3>
                        <p>A leading law consultancy and litigation outfit in Nairobi Area, we worked together to create an outreach website with content linked to pratice areas and Quick, convenient methods to contact them. We continue to work together to keep the website current. </p>
                        <p><a target="_blank" href="http://mainanjugunaadvocates.co.ke" class="btn btn-primary" role="button">View Website</a> 
                           <span class="label label-primary">WordPress</span>
                           <span class="label label-success">Logo & Branding</span>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <div class="thumbnail">
                     <img src="https://raw.githubusercontent.com/josephgodwinkimani/josephgodwinkimani.github.io/master/assets/images/project17.png"  height="600px" width="600px" alt="...">
                     <div class="caption">
                        <h3>Tara Eden Pearl</h3>
                        <p>Tara Eden Pearl is as an accomplished entrepreneur and maestro executive, under Mattermark Studios I created a professional website with content linked to her interests and expertise. The website is simple but informative.</p>
                        <p><a target="_blank" href="http://www.taraedenpearl.com/" class="btn btn-primary" role="button">View Website</a> 
                           <span class="label label-primary">WordPress</span>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <div class="thumbnail">
                     <img src="https://raw.githubusercontent.com/josephgodwinkimani/josephgodwinkimani.github.io/master/assets/images/project7.png"  height="600px" width="600px" alt="...">
                     <div class="caption">
                        <h3>MIK Realtors & Agripreneurs </h3>
                        <p>MIK Realtors & Agripreneurs is a real estate and agripreneur consulting company in Kenya. The website was created to show off agricultural, residential land  and property and help agripreneurs on thier start-up projects. </p>
                        <p><a target="_blank" href="http://mikrealtors.co.ke" class="btn btn-primary" role="button">View Website</a> 
                           <span class="label label-primary">WordPress</span>
                           <span class="label label-success">Logo & Branding</span>
                           <span class="label label-success">bbPress</span>
                           <span class="label label-info">Social Media Marketing & Management</span>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <div class="thumbnail">
                     <img src="https://raw.githubusercontent.com/josephgodwinkimani/josephgodwinkimani.github.io/master/assets/images/project6.png"  height="600px" width="600px" alt="...">
                     <div class="caption">
                        <h3>Top Notch Global </h3>
                        <p>Top Notch Global is one of the world’s leading business and management consulting companies in Kenya. Their website was created purposely for a seamless interaction with their students and would-be students therefore I integrated some of their learning resources. They also wanted a simple and secure portal for student registration with account management. We continue to work together to keep the website current. </p>
                        <p><a target="_blank" href="http://topnotchglobal.co.ke" class="btn btn-primary" role="button">View Website</a> 
                           <span class="label label-primary">WordPress</span>
                           <span class="label label-success">Logo & Branding</span>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <div class="thumbnail">
                     <img src="https://raw.githubusercontent.com/josephgodwinkimani/josephgodwinkimani.github.io/master/assets/images/project18.png"  height="600px" width="600px" alt="...">
                     <div class="caption">
                        <h3>Palm Beach Real Estate</h3>
                        <p>Palm Beach Real Estate is a crown jewel of luxury real estate just outside Miami in the immaculate clear blue waters of Palm Beach. The realtor website pulls real estate data through Internet Data Exchange from popular property listing service. This website is pending deployment.</p>
                        <p><a target="_blank" href="http://palmbeachrealestateinc.com/" class="btn btn-primary" role="button">View Website</a> 
                           <span class="label label-primary">WordPress</span>
                           <span class="label label-info">IDX</span>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <div class="thumbnail">
                     <img src="https://raw.githubusercontent.com/josephgodwinkimani/josephgodwinkimani.github.io/master/assets/images/project9.png"  height="600px" width="600px" alt="...">
                     <div class="caption">
                        <h3>Sejelai Organization </h3>
                        <p>Sejelai Organization is made up of students from Maasai Mara University. They came together with a common goal of conserving Maasai Mara Game Reserve. They wanted a unique branding to express their core values for better environment and wildlife management, community empowerment and livelihood improvement using education as an entry point. </p>
                        <p><a target="_blank" href="https://www.facebook.com/SEJELAI-ORGANIZATION-614797095323270/" class="btn btn-primary" role="button">View Page</a> 
                           <span class="label label-primary">Inkscape</span>
                           <span class="label label-success">Logo & Branding</span>
                           <span class="label label-info">Adobe Photoshop</span>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <div class="thumbnail">
                     <img src="https://raw.githubusercontent.com/josephgodwinkimani/josephgodwinkimani.github.io/master/assets/images/project10.png"  height="600px" width="600px" alt="...">
                     <div class="caption">
                        <h3>Divine Health Wealth </h3>
                        <p>They wanted a colorful illustration of their values in the logo and business cards. The logo stands for Divine Health Wealth's principles to offering Health and Fitness Products. </p>
                        <p><a target="_blank" href="https://www.facebook.com/divinehealthwealth/" class="btn btn-primary" role="button">View Page</a> 
                           <span class="label label-primary">CorelDraw</span>
                           <span class="label label-success">Logo & Branding</span>
                           <span class="label label-info">Adobe Photoshop</span>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <div class="thumbnail">
                     <img src="https://raw.githubusercontent.com/josephgodwinkimani/josephgodwinkimani.github.io/master/assets/images/project11.png"  height="600px" width="600px" alt="...">
                     <div class="caption">
                        <h3>Kerandi Manduku & Co. Advocates</h3>
                        <p>They wanted a professional and corporate illustration of their values in both the logo and business cards. The logo stands for the law firm's endeavour for Total satisfaction of their clients while upholding the Rule of Law always. </p>
                        <p><a target="_blank" href="https://twitter.com/kmanduku" class="btn btn-primary" role="button">View Page</a> 
                           <span class="label label-primary">CorelDraw</span>
                           <span class="label label-success">Logo & Branding</span>
                           <span class="label label-info">Adobe Photoshop</span>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <div class="thumbnail">
                     <img src="https://raw.githubusercontent.com/josephgodwinkimani/josephgodwinkimani.github.io/master/assets/images/project12.png"  height="600px" width="600px" alt="...">
                     <div class="caption">
                        <h3>Energy Consulting & Advisory Services (ECAS)</h3>
                        <p>They wanted a modern corporate illustration of their values in both the logo and business cards.   </p>
                        <p><a target="_blank" href="http://ecas.co.ke/" class="btn btn-primary" role="button">View Website</a> 
                           <span class="label label-primary">CorelDraw</span>
                           <span class="label label-success">Logo & Branding</span>
                           <span class="label label-info">Adobe Photoshop</span>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <div class="thumbnail">
                     <img src="https://raw.githubusercontent.com/josephgodwinkimani/josephgodwinkimani.github.io/master/assets/images/project13.png"  height="600px" width="600px" alt="..."><br>
                     <img src="https://raw.githubusercontent.com/josephgodwinkimani/josephgodwinkimani.github.io/master/assets/images/project24.png"  height="600px" width="600px" alt="...">
                     <div class="caption">
                        <h3>Shoeholic Planet</h3>
                        <p>Shoeholic Planet are an exclusive designer shoes outlet based in Kilimani, Nairobi. I create bespoke ad designs for their social platforms - Facebook and Instagram.  </p>
                        <p><a target="_blank" href="https://shoeholicplanet.co.ke" class="btn btn-primary" role="button">View Website</a> <a target="_blank" href="https://www.facebook.com/myfeetmyshoe/" class="btn btn-secondary" role="button">View Page</a> 
                           <span class="label label-primary">Inkscape</span>
                           <span class="label label-info">Social Media Marketing & Management</span>
                           <span class="label label-info">Adobe Photoshop</span>
                           <span class="label label-success">Adobe InDesign</span>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <div class="thumbnail">
                     <img src="https://raw.githubusercontent.com/josephgodwinkimani/josephgodwinkimani.github.io/master/assets/images/project14.png"  height="600px" width="600px" alt="...">
                     <div class="caption">
                        <h3>Klenz Limited</h3>
                        <p>Klenz Limited is an international supplier of commercial and professional cleaning products for various applications such as Commercial Property Cleaning, Industrial & Factory Cleaning and Feminine Hygiene. I created professional logo and letterheads based on their needs. We continue to work together to design and develop their website.</p>
                        <p><a target="_blank" href="http://klenz.co.ke" class="btn btn-primary" role="button">View Website</a>  
                           <span class="label label-primary">Inkscape</span>
                           <span class="label label-info">Adobe Photoshop</span>
                           <span class="label label-success">Adobe Illustrator</span>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <div class="thumbnail">
                     <img src="https://raw.githubusercontent.com/josephgodwinkimani/josephgodwinkimani.github.io/master/assets/images/project15.png"  height="600px" width="600px" alt="..."><br>
                     <img src="https://raw.githubusercontent.com/josephgodwinkimani/josephgodwinkimani.github.io/master/assets/images/project20.png"  height="600px" width="600px" alt="...">
                     <div class="caption">
                        <h3>Christmas Cards</h3>
                        <p>Christmas comes but once a year, I design and have designed chsritmas cards and eCards for Kleansley Hygiene Plus Limited, Flori-Link Limited, Green Experience Limited among others.</p>
                        <p><a target="_blank" href="mailto:josephgodwinke@gmail.com?subject=Christmas%20Card%20Quotation&amp;body=Kindly%20send%20me%20a%20quotation%20for%20XX%20no.%20of%20printed%7CeCards%20Christmas%20cards" class="btn btn-primary" role="button">Inquire Now</a>  
                           <span class="label label-primary">Inkscape</span>
                           <span class="label label-info">Gimpshop</span>
                           <span class="label label-success">Adobe Illustrator</span>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
