<section id="services">
<div class="container">
  <h3>Service Offering:-</h3>
  <div class="panel panel-default">
    <div class="panel-body">
<div class="row">
  <div class="col">
    <div class="thumbnail">
      <div class="caption">
        <h3>Web Design & Development</h3>
        <p>Bespoke, responsive user interface designs, user-friendly functionality, PHP Based Content Management Systems such as WordPress Theme & Plugin development, PHP Frameworks such as Laravel and 3rd party integrated software. </p>
        <p><a target="_blank" href="https://drive.google.com/open?id=0B6E4_bpmqMG6WTRsbmFGdllhSWRPS0RTQUtvTEhSWnc1NzM4" class="btn btn-primary" role="button">Bronchure</a></p> 
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="thumbnail">
      <div class="caption">
        <h3>Graphic Design & Printing</h3>
        <p>Deluxe craftmanship to enhance your brand and image in the market. Get colorful bronchures/pamphlets/leaflets, booklets, business cards, menus, gift certificates, invitation cards, posters, postcards.</p>
         <p><a target="_blank" href="https://drive.google.com/open?id=19gDxGMhXU7khaXXinDZidUnZlnnQJI_A" class="btn btn-primary" role="button">Bronchure</a></p>  
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="thumbnail">
      <div class="caption">
        <h3>System Care</h3>
        <p>Junkware, bloatware Removal for Slow PCs/Android Tablets/Smartphones, Windows Password removal, File/Data Recovery, Printer Diagnostics, Software installations.  </p>
         <p><a target="_blank" href="https://drive.google.com/open?id=0B6E4_bpmqMG6M1FJNTJGRmFsYmpoUXhTaHJMVVBxenBpSXN3" class="btn btn-primary" role="button">Bronchure A</a> <a target="_blank" href="https://drive.google.com/open?id=0B6E4_bpmqMG6elAtelJ6dGRTa1hLT05IS19PLVRURVB3YkdZ" class="btn btn-warning" role="button">Bronchure B</a></p>  
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="thumbnail">
      <div class="caption">
        <h3>Malware Removal</h3>
        <p>Diagnosis and Cleaning of rootkits, adware, trojans, worms with custom and professional tools and software for safer and fast system.</p>
          <p><a target="_blank" href="https://drive.google.com/open?id=0B6E4_bpmqMG6OG9xTjdQOW1oMUVnMVBuZ3BZSmpjVmRFSmJr" class="btn btn-primary" role="button">Bronchure A</a> <a target="_blank" href="https://drive.google.com/open?id=0B6E4_bpmqMG6elAtelJ6dGRTa1hLT05IS19PLVRURVB3YkdZ" class="btn btn-warning" role="button">Bronchure B</a></p>  
      </div>
    </div>
  </div>
</div>  
   
     
  
    </div>
  </div>
</div>
</section>
<section id="services">
<script type="text/javascript" src="//uprimp.com/bnr.php?section=General&pub=279745&format=728x90&ga=g"></script>
<noscript><a href="https://yllix.com/publishers/279745" target="_blank"><img src="//ylx-aff.advertica-cdn.com/pub/728x90.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" alt="ylliX - Online Advertising Network" /></a></noscript>
</section>
